<div class="p-grid ">
    <div class="p-col p-lg-4 ">
        <form [formGroup]="this.formUser" id=form class="p-grid p-d-flex">

            <div class="p-col p-lg-12">
                <p-dropdown formControlName="role" [options]="this.roles" placeholder="Seleccione un cargo"
                    optionLabel="roleName" [showClear]="true"></p-dropdown>
            </div>

            <div class="p-col p-lg-12">
                <span class="p-float-label">
                    <input formControlName="userName" class="form-control" type="text"
                        pInputText>
                    <label>Nombre del usuario</label>
                </span>
            </div>
            <div class="p-col">
                <span class="p-float-label">
                    <input formControlName="age" class="form-control" type="number" pInputText>
                    <label>Edad</label>
                </span>
            </div>

            <div class="p-col">
                <span class="p-float-label">
                    <p-calendar [yearNavigator]="true" yearRange="1950:2021" formControlName="companyEntryDate" dateFormat="dd/mm/yy" class="form-control" [showIcon]="true">
                    </p-calendar>
                    <label>Fecha ingreso</label>
                </span>
            </div>

            <div style="text-align:center; display:inline" class="p-col p-lg-12">
                <button (click)="this.saveUser()"
                    [disabled]="this.formUser.invalid" class="p-button-info" style="margin-left: 10px;" pButton
                    icon="pi pi-save" label='Guardar'>
                </button>
                <button (click)="this.resetForm()" class="p-button-rounded p-button-secondary"
                    style="margin-left: 10px;" pButton icon="pi pi-refresh">
                </button>

            </div>

        </form>
    </div>
    <div class="p-col">
        <p-table [columns]="cols" [responsive]="true" [value]="this.users"
            styleClass="p-datatable-responsive-demo">
            <ng-template pTemplate="header" let-columns>
                <tr>
                    <th *ngFor="let col of columns">
                        {{col.header}}
                    </th>
                </tr>


            </ng-template>
            <ng-template pTemplate="body" let-user  let-columns="columns">
                <tr>
                    <td class="p-column-title">
                        <span class="p-column-title">Nombre</span>
                        {{user.userName}}
                    </td>
                    <td class="p-column-title">
                        <span class="p-column-title">Edad</span>
                        {{user.age}}
                    </td>
                    <td class="p-column-title">
                        <span class="p-column-title">Fecha Ingreso</span>
                        {{user.companyEntryDate | date}}
                    </td>
                    <td class="p-column-title">
                        <span class="p-column-title">Cargo</span>
                        {{user.role.roleName}}
                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div>
</div>