.main-container{
    width:100%;
    height:100%;
    margin: 1%;
    padding:2%;
}

.container{
    width:100%;
    height:100%;
    padding:3%;
}

.form-control,span.p-calendar {
    min-width: 100% !important;
    min-height: 35px !important;
}

.p-dropdown {
    min-width: 100% !important;
    min-height: 35px !important;
}

.invalid .p-dropdown {
    border: 1px solid #dc3545 !important;
}

.p-dropdown-label {
    background-color: #fdfdfd;
}

.p-col {
    margin-top: 15px;
}

@media screen and (max-width:600px) {
    .p-grid {
        flex-direction: column;
    }
    .p-col {
        flex-direction: column;
    }
}


:host ::ng-deep {    
    .p-datatable-responsive-demo .p-datatable-tbody > tr > td .p-column-title {
        display: none !important;
    }
}

@media screen and (max-width: 40rem) {
    :host ::ng-deep {
        .p-datatable {
            &.p-datatable-responsive-demo {
                .p-datatable-thead > tr > th,
                .p-datatable-tfoot > tr > td {
                    display: none !important;
                }

                .p-datatable-tbody > tr > td {
                    text-align: left;
                    display: block;
                    width: 100%;
                    float: left;
                    clear: left;
                    border: 0 none;

                    .p-column-title {
                        padding: .4rem;
                        min-width: 30%;
                        display: inline-block;
                        margin: -.4em 1em -.4em -.4rem;
                        font-weight: bold;
                    }

                    &:last-child {
                        border-bottom: 1px solid var(--surface-d);
                    }
                }
            }
        }
    }
}